body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffdff;
}

header {
    background-color: #100f39;
    color: #fffdff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left img {
    width: 150px; /* Ajusta el tamaño según tus necesidades */
}

.header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header-top, .header-bottom {
    display: flex;
    align-items: center;
}

.location, .phone {
    margin-right: 20px;
}

.phone i, .location i {
    margin-right: 5px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fffdff;
    margin: 3px 0;
}

nav {
    background-color: #100f39;
    color: #fffdff;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #fffdff;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color 0.3s;
}

nav a:hover {
    color: #e21e22;
}

nav i {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #100f39;
    color: #fffdff;
    border-bottom: 2px solid #e21e22; /* Línea separadora */
}

.location, .phone {
    display: flex;
    align-items: center;
}

.location i, .phone i {
    font-size: 1.5em;
    margin-right: 10px;
}

.location span, .phone span {
    font-size: 1em;
}

.phone span {
    font-weight: bold;
}

@media (max-width: 768px) {
    .header-bottom {
        padding: 10px;
    }

    .menu-toggle {
        display: flex;
    }

    nav.active {
        display: none;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .header-top {
        flex-direction: row;
    }

    .location, .phone {
        margin-bottom: 0;
        text-align: left;
    }

}

/* Nuevos estilos para pantallas grandes */
@media (min-width: 769px) {
    .header-bottom {
        padding: 20px; /* Ajusta según sea necesario */
    }

    .menu-toggle {
        display: none; /* Oculta el menú de hamburguesas en dispositivos grandes */
    }
}

/* Banner Section */
.banner {
    background: url('portada.jpg') center/cover;
    height: 80vh; /* Ajusta según sea necesario */
}



/* Text Section */


.text-section {
    background-color: #f0f0f0;
    padding: 50px 20px;
    text-align: center;
}

.text-section h2 {
    font-size: 2.5em;
    color: #100f39;
    margin-bottom: 20px;
}

.text-section p {
    font-size: 1.2em;
    color: #555;
}

/* Amplified Services Section Styles */
.services {
    background-color: #fff;
    padding: 50px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.services-item {
    flex: 1;
    max-width: 300px;
    margin: 20px;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.services-item:hover {
    transform: scale(1.05);
}

.services-item h3 {
    font-size: 2em;
    color: #100f39;
    margin-bottom: 15px;
}

.services-item i {
    font-size: 3em;
    color: #e21e22;
    margin-bottom: 10px;
}

.features-list {
    list-style: none;
    padding: 0;
}

.features-list li {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 10px;
}

/* Estilos mejorados para la sección de Autos en Venta */
.cars-for-sale-expanded {
    text-align: center;
    margin: 40px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.car {
    width: 300px; /* Ancho ajustado según tus necesidades */
    border: 2px solid #e21e22;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}


.car:hover {
    transform: scale(1.05);
}

.car h4 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #e21e22;
}

.car-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 10px 0;
}

.car p {
    color: #777;
}

.cta-btn {
    display: inline-block;
    background-color: #e21e22;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.cta-btn:hover {
    background-color: #c40607;
}

/* Estilos mejorados para la sección de Detalles del Automóvil */
.car-details {
    margin: 40px 0;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.car-details h2 {
    color: #e21e22;
    font-size: 2em;
    margin-bottom: 20px;
}

.car-details-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-slider {
    width: 50%;
    margin-right: 20px;
}

.image-slider img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.car-specs {
    width: 50%;
}

.car-specs p {
    margin: 10px 0;
}

.cta-btn {
    display: inline-block;
    background-color: #e21e22;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.cta-btn:hover {
    background-color: #c40607;
}


/* Image Slider Styles */
.image-slider {
    width: 100%;
    max-width: 400px;
    margin-right: 20px;
}

.image-slider img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Contact Section */
.contact {
    background-color: #f0f0f0;
    padding: 50px 20px;
    text-align: center;
}

/* Improved Contact Info Section Styles */
.contact-info {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.contact-info h2 {
    font-size: 2.5em;
    color: #100f39;
    margin-bottom: 20px;
}

.contact-method {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #e21e22;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.contact-method:hover {
    background-color: #100f39;
}

.contact-method h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.contact-method i {
    font-size: 2em;
    margin-right: 10px;
}


.quote-form {
    max-width: 800px;
    margin: 20px auto 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.quote-form h2 {
    font-size: 2.5em;
    color: #100f39;
    margin-bottom: 20px;
}

.quote-form form {
    display: flex;
    flex-direction: column;
}

.quote-form label {
    font-size: 1.2em;
    color: #100f39;
    margin-bottom: 8px;
}

.quote-form input,
.quote-form select,
.quote-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.quote-form button {
    background-color: #e21e22;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.quote-form button:hover {
    background-color: #100f39;
}


/* Footer Section */
footer {
    background-color: #100f39;
    color: #fffdff;
    padding: 50px 20px;
    text-align: center;
}

.footer-info {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1;
    margin-right: 30px;
}

.footer-column h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
}

.footer-column a {
    color: #fff;
    font-size: 18px;
    margin-right: 10px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer-column a:hover {
    color: #e21e22; /* Cambia el color al hacer hover */
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    margin-bottom: 10px;
}

.footer-social {
    margin-top: 20px;
}

.footer-social h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    color: #fffdff;
    font-size: 2em;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #e21e22; /* Cambia el color al hacer hover */
}

/* Estilos mejorados para la sección del mapa */
.map-section {
    margin-top: 30px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

iframe {
    width: 100%;
    height: 450px;
    border: 0;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

iframe:hover {
    transform: scale(1.05);
}


.search-section {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

.search-section h2 {
    color: #333;
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

#car-search-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input, select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e21e22;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #100f39;
}

/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background-color: #100f39; /* Color del fondo del 'pulgón' de la barra de desplazamiento */
    border-radius: 10px; /* Bordes redondeados del 'pulgón' de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color del fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #100f39; /* Color del fondo del 'pulgón' cuando se pasa el ratón por encima */
}
